<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>

    <!-- div para mostrar mensajes -->
    <div id="mensajeContainer"></div>

    <form id="formularioPersonas" action="/personas/crear-persona" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>

        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" required>

        <label for="tipoPersona">Tipo de Persona:</label>
        <select id="tipoPersona" name="tipoPersona" required>
            <% tiposPersona.forEach(tipo => { %>
                <option value="<%= tipo.id %>"><%= tipo.descripcion %></option>
            <% }); %>
        </select>

        <label for="tipoDocumento">Tipo de Documento:</label>
        <select id="tipoDocumento" name="tipoDocumento" required>
            <% tiposDocumento.forEach(tipo => { %>
                <option value="<%= tipo.id %>"><%= tipo.descripcion %></option>
            <% }); %>
        </select>

        <label for="numeroDocumento">Número de documento:</label>
        <input type="text" id="numeroDocumento" name="numeroDocumento" required>

        <label>Contactos:</label>
        <div id="contactos">
            <!-- Aquí se pueden agregar dinámicamente campos de contacto -->
            <div>
                <label for="tipoContacto">Tipo de Contacto:</label>
                <select name="tipoContacto" required>
                    <% tiposContacto.forEach(tipo => { %>
                        <option value="<%= tipo.id %>"><%= tipo.descripcion %></option>
                    <% }); %>
                </select>

                <label for="descContacto">Descripción:</label>
                <input type="text" name="descContacto" required>
            </div>
        </div>

        <!-- Botón para agregar más contactos -->
        <button type="button" id="agregarContacto">Agregar Contacto</button>

        <!-- Direcciones: -->
        <label>Direcciones:</label>
        <div id="direcciones">
            <div>
                <% componentesConNomenclaturas.forEach((componente, index) => { %>
                    <div>            
                        <% if (componente.nomenclaturas && componente.nomenclaturas.length > 0) { %>
                            <!-- Si hay nomenclaturas, crear un select -->
                            <label for="<%= index + '.' + componente.POSICION %>"><%= componente.DESCPOSICION %></label>
                            <select name="<%= index + '.' + componente.POSICION %>">
                                <% componente.nomenclaturas.forEach(nomenclatura => { %>
                                <option value="<%= nomenclatura.IDNOMEN %>"><%= nomenclatura.DESCNOMEN %></option>
                                <% }); %>
                            </select>
                        <% }else{ %>
                            <label for="<%= index + '.' + componente.POSICION %>"><%= componente.DESCPOSICION %>:</label>
                            <input type="text" name="<%= index + '.' + componente.POSICION %>" required>
                        <% } %>
                    </div>
                  <% }); %>
            </div>
        </div>

        <!-- Botón para agregar más direcciones -->
        <button type="button" id="agregarDireccion">Agregar Dirección</button>

        <button type="submit">Crear Persona</button>
    </form>

     <!-- Botón para ir atrás -->
     <a href="/">Ir atrás</a>

     <script src="/js/crearPersona.mjs"></script>
</body>
</html>
